<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory - Estory</title>
    {% include "estory/components/vue.html" %}
    {% include "estory/components/bootstrap.html" %}
    {% include "estory/components/jquery.html" %}
    {% include "estory/components/sweetalert.html" %}
    {% include "estory/components/datatable.html" %}
</head>
<body>
    
    
    
    <div id="app">
        <navbar title="Inventory"></navbar>
        <newobjectbutton></newobjectbutton>
        <inventoryobjectlist></inventoryobjectlist>
        

    </div>

    <script type="module" src='{% static "inventory/js/index.js" %}'></script>
</body>
</html>