<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object edition - Estory</title>
    {% include "estory/components/vue.html" %}
    {% include "estory/components/bootstrap.html" %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src=" https://cdn.jsdelivr.net/npm/jquery.dirty@0.8.4/dist/jquery.dirty.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.8.1/tagify.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.8.1/tagify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.css" />
  
    <script src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>



    <link rel="stylesheet" href="{% static "inventory/css/detail.css" %}">
</head>
<body>

 

    <div id="app" data-objectid="{{object.id}}">
        <navbar title="Object edition"></navbar>
        <div class="container mt-2">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="infos-tab" data-bs-toggle="tab" data-bs-target="#infos" type="button" role="tab" aria-controls="infos" aria-selected="true">Informations</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="operations-tab" data-bs-toggle="tab" data-bs-target="#operations" type="button" role="tab" aria-controls="operations" aria-selected="false">Operations</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="loans-tab" data-bs-toggle="tab" data-bs-target="#loans" type="button" role="tab" aria-controls="loans" aria-selected="false">Loans</button>
                </li>
            </ul>
        
            <!-- Tab content -->
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show show active" id="infos" role="tabpanel" aria-labelledby="infos-tab">
                    <h3>{{object.inventoryId}}</h3>
                    <editswitch v-if="loaded"></editswitch>
                    <form action="/member/inventory/object/{{object.id}}/infos/save" method="POST" v-if="loaded" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <inventoryidfield objectid="{{object.id}}" ></inventoryidfield>
                        <div class="row">
                            <div class="col">
                                <namefield objectid="{{object.id}}"></namefield>
                            </div>
                            <div class="col">
                                <originfield objectid="{{object.id}}"></originfield>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                                <datingfield objectid="{{object.id}}"></datingfield>
                            </div>
                            <div class="col">
                                <provenancefield objectid="{{object.id}}"></provenancefield>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                                <reservelocationfield objectid="{{object.id}}"></reservelocationfield>
                            </div>
                            <div class="col">
                                <authorfield objectid="{{object.id}}"></authorfield>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                                <categoryfield objectid="{{object.id}}"></categoryfield>
                            </div>
                            <div class="col">
                                <materialfield objectid="{{object.id}}"></materialfield>
                            </div>
                          </div>
                          <descriptionfield objectid="{{object.id}}"></descriptionfield>
                          <div class="row">
                            <div class="col">
                                <bibliographyfield objectid="{{object.id}}"></bibliographyfield>
                                <roomfield objectid="{{object.id}}"></roomfield>
                            </div>
                            <div class="col">
                               
                                <photoField objectid="{{object.id}}"></photofield>
                            </div>
                          </div>
                      
                       
                        
                        
                        
                        
                        <confirmchangesbutton objectid="{{object.id}}"></confirmchangesbutton>
                    </form>
                    
                </div>
                <div class="tab-pane fade" id="operations" role="tabpanel" aria-labelledby="operations-tab">
                    <operationlist></operationlist>
                    <newoperation objectid="{{object.id}}"></newoperation>
                </div>
                <div class="tab-pane fade" id="loans" role="tabpanel" aria-labelledby="loans-tab">
                    <loanlist></loanlist>
                    <newloan objectid="{{object.id}}"></newloan>
                </div>
            </div>
        </div>
          
          
   
       
    </div>



    <script type="module" src='{% static "inventory/js/detail.js" %}'></script>
</body>

</html>