{% load static  %}
<script src="https://cdn.jsdelivr.net/npm/mitt/dist/mitt.umd.js"></script>

<script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
        "eventBus": "{% static 'estory/vue-components/eventBus.js' %}",
        "objectlist":"{% static 'visitor/list/vue-components/objectList.js' %}",
        "categoryfilter":"{% static 'visitor/list/vue-components/categoryFilter.js' %}",
        "materialfilter":"{% static 'visitor/list/vue-components/materialFilter.js' %}",
        "groupfilter":"{% static 'visitor/list/vue-components/groupFilter.js' %}",
        "searchbar":"{% static 'visitor/list/vue-components/searchBar.js' %}"
        
      }
    }
  </script>
