{% load static  %}

<script type="importmap">
    {
      "imports": {
        "vue": "{% static 'estory/libraries/vuejs.js' %}",
        "objectlist":"{% static 'visitor/list/vue-components/objectList.js' %}",
        "categoryfilter":"{% static 'visitor/list/vue-components/categoryFilter.js' %}",
        "materialfilter":"{% static 'visitor/list/vue-components/materialFilter.js' %}",
        "groupfilter":"{% static 'visitor/list/vue-components/groupFilter.js' %}",
        "searchbar":"{% static 'visitor/list/vue-components/searchBar.js' %}"
        
      }
    }
  </script>
